*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-de-fundo-vermelha:#e30613;
    --cor-de-fundo-cinza:#f8fafc;
    --texto-cinza-claro:#64748b;
    --texto-cinza-escuro:#475569;
    --texto-petro:#0f172a;
    --background-branco:#ffffff;
    --vermelho-transparente:#e3061310;
    --h1-size:20px;
    --size:16px
}


.conteiner{
    display: grid;
    grid-template-columns:255px 1fr ;
    max-height: 100%;
    
}

.coluna1{
    background: var(--background-branco);
   
}

.coluna2{
    background: var(--cor-de-fundo-cinza);
    
}


