*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-de-fundo-vermelha:#e30613;
    --cor-de-fundo-cinza:#f8fafc;
    --barra-de-pesquisa:#f1f5f9;
    --texto-cinza-claro:#64748b;
    --texto-cinza-escuro:#475569;
    --texto-petro:#0f172a;
    --background-branco:#ffffff;
    --vermelho-transparente:#e3061310;
    --borda:1px solid #e2e8f0;
    --cinza-link:#334155;

    --size1:400;
    --size2:500;
    --size3:600;
    --size4:700;

    --tamanho1:12px;
    --tamanho2:14px;
    --tamanho3:16px;
    --tamanho4:20px;
    --tamanho5:24px;
    --tamanho6:30px;
   
     
    
}


.conteiner{
    display: grid;
    grid-template-columns:255px 1fr ;
    max-height: 100%;
    
}

.coluna1{
    background: var(--background-branco);
   
}

.coluna2{
    background: var(--cor-de-fundo-cinza);
    
}


