.coluna1{
    border-right: var(--borda);
    display: flex;
    flex-direction: column;
    height: 100vh; /* ocupa toda a altura da tela */
}
.corpo_coluna1 {
    
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-left: 25px;
    margin-top: 25px;

}
.corpo_coluna1>a,.corpo_coluna1>a > svg{
    color:var(--texto-cinza-escuro);
    
}

.corpo_coluna1 > a{
    font-size: var(--tamanho3);
    font-weight: var(--size1);
    height: 55px;

}
.head_coluna1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:50px;
    width: 155px;
    padding-left: 20px;
    padding-top: 20px;
}

.head_coluna1 > h1{
    margin-top: 10%;
    font-size: var(--tamanho4);
    font-weight: var(--size4);
   
}

.qv{
    
    background-color:var(--cor-de-fundo-vermelha);
    display:grid;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;

}
.f_coluna1{
    margin-top: auto; 
    height: 75.5px;
    width: 223px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--cor-de-fundo-cinza);
    margin-left: 15px;
    margin-bottom: 15px;
}
.f_coluna1 > p{
    font-size: var(--tamanho1);
    font-weight:var(--size3) ;
    color:var(--texto-cinza-claro);

}
.f_coluna1 > a{
    font-size: var(--tamanho2);
    font-weight: var(--size2);
    color:var(--cinza-link);
}
.link_verm{
    
    max-height: 48px;
    max-width: 223px;
    color: var(--cor-de-fundo-vermelha);
    background-color:var(--vermelho-transparente);
    padding-top: 15px;
    padding-left: 15px ;
    margin-left: -15px;
    border-radius: 10px;
}


